body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: blanchedalmond;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    margin: 0 auto;
}

a {
    display: flex;
    justify-content: center;
    color: red;
}